<section class="common_section download container_fluid" id="download">
	<div class="section_inner">
		<div class="title">
			Descarga
		</div>
		<div class="download_image">
			<a href="https://play.google.com/store/search?q=vrtual&c=apps">
				<img src="{{ url_for('static', filename='img/google_play.png') }}" alt="Google Play">
			</a>
		</div>
		<div class="download_image">
			<a href="http://appstore.com/vrtual">
				<img src="{{ url_for('static', filename='img/app_store.png') }}" alt="App Store">
			</a>
		</div>
	</div>
</section>