<footer class="footer container_fluid">
	<div class="top_footer container">
		<div class="col">
			<a href="{{ url_for('home') }}" class="logo">
				<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
			</a>
		</div>
		<div class="col">
			<div class="title">
				Contactos
			</div>
			<div class="contacts">
				<a href="tel:+34695852145" class="phone_number">+34 695 852 145</a>
				<a href="mailto:vrtual.business@gmail.com" class="email_link">vrtual.business@gmail.com</a>
				<div class="icons_wrapper">
					<a href="https://es-es.facebook.com/" class="icon">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://twitter.com/" class="icon">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.instagram.com/" class="icon">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col">
			<nav class="menu">
				<a href="#home" class="menu_item">
					Inicio
				</a>
				<a href="#about_us" class="menu_item">
					Conócenos
				</a>
				<a href="#product" class="menu_item">
					Producto
				</a>
				<a href="#gallery" class="menu_item">
					Galería
				</a>
				<a href="#download" class="menu_item">
					Descarga
				</a>
			</nav>
		</div>
	</div>
	<div class="bottom_footer container">
		<p>Copyright &copy; 2021, VRtual. All Rights Reserved</p>
		<p>Demo by <a href="https://github.com/ArturVaskovets">Artur Vaskovets</a></p>
	</div>
</footer>