<section class="common_section gallery container_fluid" id="gallery">
	<div class="section_inner">
		<div class="title">
			Galería
		</div>
		<div class="image_wrapper">
			<div class="image">
				<img src="{{ url_for('static', filename='img/city.jpg') }}" alt="City">
			</div>
			<div class="image">
				<img src="{{ url_for('static', filename='img/paris.jpg') }}" alt="City">
			</div>
			<div class="image">
				<img src="{{ url_for('static', filename='img/mountains.jpg') }}" alt="City">
			</div>
		</div>
		<div class="text_wrapper">
			Video demostraciones de las distintas experiencias que ofrecemos a nuestros  clientes de forma gratuita para dar a conocer de que trata la aplicación.
		</div>
	</div>
</section>