<section class="common_section gallery" id="gallery">
	<div class="section_inner container_fluid">
		<div class="title">
			Galería
		</div>
		<div class="image_wrapper">
			<div class="image">
				<img src="{{ url_for('static', filename='img/city.png') }}" alt="City">
			</div>
			<div class="image">
				<img src="{{ url_for('static', filename='img/paris.png') }}" alt="City">
			</div>
			<div class="image">
				<img src="{{ url_for('static', filename='img/mountains.png') }}" alt="City">
			</div>
		</div>
		<div class="text_wrapper">
			Video demostraciones de las distintas experiencia que ofrecemos a nuestros  clientes de forma gratuita para dar a conocer de que trata la aplicación
		</div>
	</div>
</section>