<header class="header container_fluid">
	<div class="container">
		<div class="left_header">
			<div class="phone">
				<div class="phone_label">
					Contacto
				</div>
				<a href="tel:+34695852145" class="phone_number">+34 695 852 145</a>
			</div>
			<div class="icons_wrapper">
				<a href="https://es-es.facebook.com/" class="icon">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://twitter.com/" class="icon">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="https://www.instagram.com/" class="icon">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
			<a href="mailto:vrtual.business@gmail.com" class="email_link">vrtual.business@gmail.com</a>
		</div>
		<div class="right_header">
			<nav class="menu">
				<a href="#home" class="menu_item">
					Inicio
				</a>
				<a href="#about_us" class="menu_item">
					Conócenos
				</a>
				<a href="#product" class="menu_item">
					Producto
				</a>
				<a href="#gallery" class="menu_item">
					Galería
				</a>
				<a href="#download" class="menu_item">
					Descarga
				</a>
			</nav>
			<a href="{{ url_for('home') }}" class="logo">
				<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
			</a>
		</div>
	</div>
</header>
<div class="floating_menu container_fluid active">
	<nav class="menu container">
		<a href="#home" class="menu_item">
			Inicio
		</a>
		<a href="#about_us" class="menu_item">
			Conócenos
		</a>
		<a href="#product" class="menu_item">
			Producto
		</a>
		<a href="#gallery" class="menu_item">
			Galería
		</a>
		<a href="#download" class="menu_item">
			Descarga
		</a>
	</nav>
</div>