<section class="common_section product container_fluid" id="product">
	<div class="section_inner">
		<div class="title">
			Producto
		</div>
		<div class="image_wrapper">
			<div class="cell_phone">
				<img src="{{ url_for('static', filename='img/cell_phone.png') }}" alt="Cell phone">
			</div>
		</div>
		<div class="text_wrapper">
			Proporcionamos una aplicación para poder disfrutar de  experiencias inolvidables por el mundo mediante videos en realidad aumentada y de alta calidad.
		</div>
	</div>
</section>