@import "defaults";

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding-top: 25px;
	color: white;

	&::before {
		content: "";
		@include fill(X);
		top: 0;
		height: 300px;
		background: linear-gradient(180deg, rgba(black, 0.5), rgba(black, 0));
	}

	&>.container {
		@include display_flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.left_header {
		.phone {
			display: block;
			font-weight: 400;
			font-size: 20px;
			letter-spacing: 0.5px;
			line-height: 1;
			margin-bottom: 10px;

			.phone_label {
				display: inline-block;
				vertical-align: middle;
				padding-right: 5px;
				margin-right: 0px;
				border-right: 2px solid white;
			}

			.phone_number {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.icons_wrapper {
			display: inline-block;
			vertical-align: middle;
			height: 35px;
			margin-right: 5px;

			.icon {
				position: relative;
				display: inline-block;
				width: 35px;
				height: 35px;
				background-color: white;
				border-radius: 50%;
				color: $bg_dark;
				cursor: pointer;
				@include transition(all 0.5s);

				i {
					@include center;
					font-size: 18px;
				}

				&:hover {
					background-color: $bg_dark;
					color: white;
				}
			}
		}

		.email_link {
			display: inline-block;
			vertical-align: middle;

			font-weight: 400;
			font-size: 18px;
			letter-spacing: 0.5px;
			line-height: 35px;
		}
	}

	.right_header {
		.menu {
			display: inline-block;
			vertical-align: bottom;

			.menu_item {
				display: inline-block;
				position: relative;

				font-weight: 400;
				font-size: 22px;
				letter-spacing: 0px;
				line-height: 35px;

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: 2px;
					background-color: white;
					@include transition(all 0.5s);
				}
			}

			.menu_item:hover {
				&::before {
					left: 0;
					width: 100%;
				}
			}

			.menu_item+.menu_item {
				margin-left: 15px;
			}
		}

		.logo {
			display: inline-block;
			vertical-align: bottom;
			width: 110px;
			height: auto;

			img {
				@include scale_image(contain);
			}
		}
	}
}

.floating_menu {
	@include fill(X, fixed);
	top: 0;
	height: 100px;
	z-index: 1001;
	background-color: white;
	box-shadow: 0px 10px 20px 0 rgba(black, 0.2);
	@include transform(translateY(-100%));
	@include transition(all 0.3s);

	&.active {
		@include transform(none)
	}

	.menu {
		@include display_flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;

		.menu_item {
			display: inline-block;
			position: relative;

			font-weight: 300;
			font-size: 22px;
			letter-spacing: 0px;
			line-height: 35px;
			color: #333333;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				height: 2px;
				background-color: $bg_dark;
				@include transition(all 0.5s);
			}
		}

		.menu_item:hover,
		.menu_item.active {
			color: $bg_dark;

			&::before {
				left: 0;
				width: 100%;
			}
		}
	}
}

.main_section {
	height: 100vh;
	position: relative;

	&::before {
		content: "";
		@include fill(X);
		bottom: 0;
		height: 150px;
		background: transparent linear-gradient(0deg, rgba($bg_light, 1) 0%, rgba($bg_light, 0.7) 50%, transparent 100%);
		z-index: 4;
	}

	.gallery {
		@include fill;
		z-index: 2;

		.image {
			width: 100%;
			height: 100%;

			img {
				@include scale_image;
			}
		}

		.owl-stage-outer {
			height: 100%;
			.owl-stage {
				height: 100%;
				.owl-item {
					height: 100%;
				}
			}
		}
	}

	.caption {
		@include center;
		display: block;
		width: 550px;
		padding: 50px 20px;
		background-color: rgba(#596e8a, 0.7);
		z-index: 3;

		font-family: $font-1;
		font-weight: 500;
		font-size: 48px;
		letter-spacing: 0px;
		line-height: 55px;
		text-align: center;
		color: white;
		text-transform: uppercase;
	}
}

section.common_section {
	@include display_flex;
	align-items: center;
	background-color: $bg_light;

	.section_inner {
		@include display_flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 50px calc((100% - 1140px) / 2);
		position: relative;
		background-color: $bg_dark;


		.title {
			position: absolute;
			bottom: 100%;
			font-family: $font-2;
			font-weight: 500;
			font-size: 45px;
			letter-spacing: 1px;
			line-height: 50px;
			text-transform: uppercase;
			color: $bg_dark;
		}

		.image_wrapper {
			width: 50%;
			align-self: stretch;

			img {
				@include scale_image;
			}
		}

		.text_wrapper {
			width: 50%;
			font-weight: 400;
			font-size: 35px;
			letter-spacing: 0.4px;
			line-height: 40px;
			color: white;
		}

	}
}

section.about_us {
	padding: 250px 0 200px;
	.section_inner {
		.title {
			right: calc((100% - 1140px) / 2);
		}

		.image_wrapper {
			img {
				object-position: 73% 50%; // Should not be used like this
			}
		}

		.text_wrapper {
			padding-left: 40px;
			text-align: right;
		}
	}
}

section.product {
	padding: 300px 0 250px;
	.section_inner {
		flex-direction: row-reverse;

		.title {
			left: calc((100% - 1140px) / 2);
		}

		.image_wrapper {
			position: relative;

			.cell_phone {
				position: absolute;
				top: -155px;
				left: 160px;
				width: 270px;
				height: 550px;
				@include transform(rotate(20deg));

				img {
					object-fit: contain;
				}
			}
		}

		.text_wrapper {
			padding-right: 40px;
		}
	}
}

section.gallery {
	padding: 300px 0 265px;
	.section_inner {
		min-height: 325px;

		.title {
			right: calc((100% - 1140px) / 2);
		}

		.image_wrapper {
			width: 40%;
			position: relative;

			.image {
				position: absolute;
			}

			.image:nth-of-type(1) {
				width: 400px;
				height: 200px;
				top: -215px;
				left: 380px;
			}

			.image:nth-of-type(2) {
				width: 415px;
				height: 225px;
				top: 0;
				left: 120px;
			}

			.image:nth-of-type(3) {
				width: 340px;
				height: 185px;
				top: 240px;
				left: 0;
			}
		}

		.text_wrapper {
			width: 60%;
			padding-left: 125px;
			text-align: right;
		}
	}
}

section.download {
	padding: 195px 0 290px;
	.section_inner {
		min-height: 400px;

		.title {
			left: 50%;
			@include transform(translateX(-50%));
		}

		.download_image {
			width: 50%;

			a {
				display: inline-block;
				height: 90px;

				img {
					width: auto;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		.download_image:nth-of-type(2) {
			text-align: right;

			a {
				margin-right: 80px;
			}
		}

		.download_image:nth-of-type(3) {
			a {
				margin-left: 80px;
			}
		}

		.text_wrapper {
			padding-left: 40px;
			text-align: right;
		}
	}
}

.footer {
	background-color: $bg_dark;

	.top_footer {
		@include display_flex;
		justify-content: center;
		align-items: center;
		padding: 50px 0;

		.col {
			width: calc(100% / 3);
			padding: 0 20px;
		}

		.title {
			font-family: $font-2;
			font-weight: 500;
			font-size: 30px;
			letter-spacing: 1px;
			line-height: 30px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 20px;
		}

		.contacts {
			& > a {
				display: block;
				font-weight: 300;
				font-size: 20px;
				letter-spacing: 0.5px;
				line-height: 1;
				margin-bottom: 10px;
				color: white;
			}

			.icons_wrapper {
				display: inline-block;
				vertical-align: middle;
				height: 35px;
				margin-top: 15px;
	
				.icon {
					position: relative;
					display: inline-block;
					width: 35px;
					height: 35px;
					background-color: white;
					border-radius: 50%;
					color: $bg_dark;
					cursor: pointer;
					@include transition(all 0.5s);
	
					i {
						@include center;
						font-size: 18px;
					}
	
					&:hover {
						background-color: rgba(black, 0.5);
						color: white;
					}
				}
			}
		}

		.menu {
			.menu_item {
				display: table;
				position: relative;

				font-weight: 300;
				font-size: 20px;
				letter-spacing: 0px;
				line-height: 35px;
				text-transform: uppercase;
				color: white;

				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: 1px;
					background-color: white;
					@include transition(all 0.5s);
				}
			}

			.menu_item:hover {
				&::before {
					left: 0;
					width: 100%;
				}
			}

			.menu_item+.menu_item {
				margin-top: 5px;
			}
		}
	}

	.bottom_footer {
		border-top: 1px solid rgba(white, 0.5);
		padding: 30px 0;
		color: white;
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 0.5px;
		line-height: 1;
		text-align: center;

		p {
			margin: 0 0 5px 0;
		}
	}
}